# requirements.txt para el proyecto de Clasificación de Tejidos 

Flask
torch
torchvision
Pillow
numpy
matplotlib
pandas
python-dotenv
requests
markdown
efficientnet-pytorch
opencv-python
seaborn
scikit-learn


